<div id="new-user">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info mt-4 mb-4">Usuario</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Email:</label><br>
                            <input type="email" name="username" id="email" class="form-control" ng-model="vm.name" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Contraseña:</label><br>
                            <input type="text" name="password" id="password" class="form-control" ng-model="vm.password" required>                            
                        </div>
                        <div class="form-group">
                            <label for="select-rol" class="text-info">Rol:</label>
                            <select id="select-rol" class="form-control" name="select-rol" ng-model="vm.rol" required>
                                <option value="medico">Medico</option>
                                <option value="admin">Administrador</option>
                                <option value="operador">Operador</option>
                            </select>
                        </div>
                        <!--
                        <div class="form-group">
                            <label for="remember-me" class="text-info">
                                <span>Recordar datos</span>
                                <span><input id="remember-me" name="remember-me" type="checkbox"></span>
                            </label>                            
                        </div>
                        -->
                        <div class="form-group mt-4 text-right">
                            <button type="submit" name="new_user" class="btn btn-primary btn-md" ng-click="vm.create()">Crear Usuario</button>
                            <button type="button" name="cancel" class="btn btn-secondary btn-md" ng-click="vm.cancel()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-new-user" class="alert alert-dismissible alert-success alert-bottom-left">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span>{{vm.mensaje}}</span>    
    </div>
</div>